<html>
    <head>
        <title>
            Misuzu
        </title>
        <link rel="stylesheet" href="web/css/homePage.css">
        <link rel="stylesheet" href="web/css/bulma.css">
    </head>

    <body>
        <div class="PageTitle">
            <h1>
                {{.PageTitle}}
            </h1>
            <br>

            <form method="post" action="/update">
                <textarea name="message" class="textarea is-medium"></textarea><br />
                <input type="submit" value="Misuzu this thought!">
            </form>
			<br><br>



            <div>
                {{.Content}}





<!-- <div class="columns">

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Living in a blue
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
	  To Ishamel we humans are enclosed in a cage and are destroying it. But we
	  don't seem to worried about it because deep down we know that all the
	  affect we do to earth will have less consequences to us, we won't be alive
	  to face it.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Keeping myself fit
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
		Today I ran for 1hr from Naikap to Satungal. I took a bus
		when I came back home. Too exhaused lol
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
</div> -->







            </div>


        </div>
    </body>
</html>
