*{
	margin: 0px;
	/* background-color: #0d1017;
	color: #dbd9d3; */
	font-family: "iosevka_spw";
}


.PageTitle{
	text-align: center;
	font-size: 2rem;
	/* color: black; */
}

input[type=submit] {
	float: right;
	background-color: rgb(142, 69, 211);
	color: white;
	border: none;
	text-decoration: none;
	padding: 10px 10px;
	margin: 10px 10px;
}
input[type=submit]:hover {
	background-color: rgb(122, 13, 224);
	cursor: pointer;
}

.card{
	font-size: 1.3rem;
}


.misuzu_title{
	font-size: 1.3rem;
	text-decoration: underline;
}

.misuzu_unix_timestamp{
	font-size: 1.3rem;
}

a{
	color: hsl(0, 0%, 7%);
}

a:hover{
	color: hsl(0, 0%, 7%);
}

.misuzu_archive{
	float: right;
}
